:root {
  --white: #f5f9f9;
  --blue: #6cd3e9;
  --red: #be4759;
  --orange: #d87357;
  --purple: #2d2340;
}

body {
  margin: 0 auto;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: auto;
  background-color: var(--white);
}



#container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  height: auto;
}

h2 {
  color: var(--red);
}

#left {
  background-color: var(--white);
  width: 50%;
  border-right: 1px solid var(--purple);
  flex-grow: 1;
}

#right {
  width: 50%;
  background-color: var(--white);
  flex-grow: 1;
}

#resume {
  margin: 25px;
}

.general-info,
.education-info,
.experience-info {
  display: block;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 25px;
}

input {
  height: 25px;
  border-radius: 5px;
  margin: 5px;
  border: 1px solid var(--purple);
  font-family: 'Noto Sans', sans-serif;
}

input[type='date']:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
input[type='date']:focus:before,
input[type='date']:valid:before {
  content: '';
}

.save-button,
.edit-button {
  border: none;
  background-color: var(--orange);
  width: 50px;
  border-radius: 5px;
  color: var(--white);
  font-family: 'Noto Sans', sans-serif;
  height: 25px;
  margin: 5px;
  cursor: pointer;
}

.date-fields {
  display: flex;
  justify-content: space-between;
}

#to-field,
#from-field,
#exTo-field,
#exFrom-field {
  width: 50%;
}

.resume-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.resume-heading h1 {
  margin-top: 0;
}
.resume-heading.person {
  display: block;
}

.resume-heading.person p {
  margin-top: -20px;
}

.resume-heading.contact {
  display: block;
}

.resume-edu-item, .resume-exp-item{
  display: grid;
  padding: 10px;
  margin-bottom: 50px;
}

.resume-edu-item {
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr;
 
}

.resume-edu-item-date,
.resume-edu-item-major,
.resume-edu-item-loc,
.resume-exp-item-date,
.resume-exp-item-comp,
.resume-exp-item-pos {
  margin: 0;
}

.resume-edu-item-date, .resume-exp-item-date {
  justify-self: end;
}

.resume-exp-item{
  display:grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: repeat(3,auto);

}

.resume-exp-item-resp {
  grid-column: 1 / 3;
}